/* #main_box{
    width: 400px;
    height: 400px;
    border-radius: 30px;
    background: black;
    
}
.buttons{
    
    display: flex;
    gap: 45px;
}
#yellowbutton{
    margin-top: 10px;
    margin-left: 2px;
    width: 60px;
    height: 40px;
    border: none;
    background: yellow;
    
}
#greenbutton{
    margin-top: 10px;
    margin-left: 2px;
    width: 60px;
    height: 40px;
    border: none;
    background: green;
}
#purplebutton{
    margin-top: 10px;
    margin-left: 2px;
    width: 60px;
    height: 40px;
    border: none;
    background: purple;
}
#pinkbutton{
    margin-top: 10px;
    margin-left: 2px;
    width: 60px;
    height: 40px;
    border: none;
    background: pink;
}


#addButton{
    width: 100px;
    height: 40px;
    background: skyblue;
}
#minusButton{
    width: 100px;
    height: 40px;
    background: gray;
}
 */


 /* body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 60px;
}

input {
  padding: 8px;
  width: 200px;
  font-size: 16px;
}

button {
  padding: 8px 15px;
  margin-top: 10px;
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 18px;
  margin-top: 20px;
} */

/* Success and error colors */
/* .success {
  font-size: 40px;
  color: purple;
}

.error {
  color: red;



  body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 60px;
}

input {
  padding: 8px;
  width: 220px;
  font-size: 16px;
}

button {
  padding: 8px 15px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

#showBtn {
  background-color: #007bff;
}

#showBtn:hover {
  background-color: #0056b3;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

button:hover {
  transform: scale(1.05);
}

p {
  font-size: 18px;
  margin-top: 15px;
}

#errorMsg {
  color: red;
  font-weight: bold;
} 
