#main_box{
    width: 400px;
    height: 400px;
    border-radius: 30px;
    background: black;
    
}
.buttons{
    
    display: flex;
    gap: 45px;
}
#yellowbutton{
    margin-top: 10px;
    margin-left: 2px;
    width: 60px;
    height: 40px;
    border: none;
    background: yellow;
    
}
#greenbutton{
    margin-top: 10px;
    margin-left: 2px;
    width: 60px;
    height: 40px;
    border: none;
    background: green;
}
#purplebutton{
    margin-top: 10px;
    margin-left: 2px;
    width: 60px;
    height: 40px;
    border: none;
    background: purple;
}
#pinkbutton{
    margin-top: 10px;
    margin-left: 2px;
    width: 60px;
    height: 40px;
    border: none;
    background: pink;
}


#addButton{
    width: 100px;
    height: 40px;
    background: skyblue;
}
#minusButton{
    width: 100px;
    height: 40px;
    background: gray;
}

